ha.blackridge.shumie.net {
    tls internal
    reverse_proxy host.docker.internal:8123
}

dns.blackridge.shumie.net {
    tls {
        dns route53 {
            hosted_zone_id {$ROUTE53_HOSTED_ZONE_ID}
        }
        resolvers 1.1.1.1 9.9.9.9
    }
    reverse_proxy 192.168.3.10:3000
}

nas.blackridge.shumie.net {
    tls {
        dns route53 {
            hosted_zone_id {$ROUTE53_HOSTED_ZONE_ID}
        }
        resolvers 1.1.1.1 9.9.9.9
    }
    reverse_proxy https://192.168.3.20:5001 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}
