ha.blackridge.shumie.net {
    tls internal
    reverse_proxy host.docker.internal:8123
}

dns.blackridge.shumie.net {
    tls {
        dns route53 {
            hosted_zone_id {$ROUTE53_HOSTED_ZONE_ID}
        }
        resolvers 1.1.1.1 9.9.9.9
    }
    reverse_proxy 192.168.3.10:3000
}

nas.blackridge.shumie.net {
    tls {
        dns route53 {
            hosted_zone_id {$ROUTE53_HOSTED_ZONE_ID}
        }
        resolvers 1.1.1.1 9.9.9.9
    }
    reverse_proxy https://192.168.3.20:5001 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

luna-admin.blackridge.shumie.net {
    tls internal

    basicauth {
        lane $2a$14$V8JW8BwHaSkkhWz2oP2DreX8FtHqHN/19aWizSt77LTzndOKUvarW
    }

    reverse_proxy http://192.168.3.11:18810 {
        header_up X-Command-Center-App-Auth {$LUNA_APP_AUTH_TOKEN}
        header_up X-Forwarded-User {http.auth.user.id}
        header_up X-Forwarded-Role admin
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-For {remote_host}
    }
}
